<h1 class="font-bold text-center text-2xl my-4">Bugs And Features</h1>
<div class="space-y-2">

    <div
        class="flow-root rounded-lg border hover:scale-105 transistion-all duration-300 bg-red-300 border-gray-100 py-3 container mx-auto shadow-lg">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
            <div class="grid  grid-cols-2 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
                <div>
                    <dt class="font-medium text-gray-900">Title</dt>

                    <dd class="text-gray-700 sm:col-span-2">Mr</dd>
                </div>
                <dd>
                    severity: <span>Low</span>
                </dd>
            </div>
        </dl>
    </div>
    <div
        class="flow-root rounded-lg border hover:scale-105 transistion-all duration-300 bg-red-300 border-gray-100 py-3 container mx-auto shadow-lg">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-2 sm:gap-4">
                <dt class="font-medium text-gray-900">Title</dt>
                <dd class="text-gray-700 sm:col-span-2">Mr</dd>
            </div>
        </dl>
    </div>
    <div
        class="flow-root rounded-lg border hover:scale-105 transistion-all duration-300 bg-red-300 border-gray-100 py-3 container mx-auto shadow-lg">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
            <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-2 sm:gap-4">
                <dt class="font-medium text-gray-900">Title</dt>
                <dd class="text-gray-700 sm:col-span-2">Mr</dd>
            </div>
        </dl>
    </div>
</div>